{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block header %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard">
    <div class="card">
        <h2>Empleados Activos</h2>
        <ul class="list">
            <li>Empleado 1</li>
            <li>Empleado 2</li>
            <li>Empleado 3</li>
            <li>Empleado 4</li>
        </ul>
    </div>

    <div class="reloj-digital">
        <div id="reloj">00:00:00</div>
    </div>

    <div class="card">
        <h2>Carros Basureros Activos</h2>
        <ul class="list">
            <li>Carro 1</li>
            <li>Carro 2</li>
            <li>Carro 3</li>
            <li>Carro 4</li>
        </ul>
    </div>
</div>
{% endblock %}
